@model ProjetNet.Models.Commentaire

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Commentaire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Texte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Posteur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Posteur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_message)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
